{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/terms-condition.css' %}" />

    <title>Hrooms.com</title>
  </head>
  <body>
    <div class="container">
      <h1>Terms and Conditions</h1>

      <div class="policy">
        <h2>Room 1 Policy</h2>
        <p>
          Cancellation Policy: Cancellations made less than twenty-four (24)
          hours prior to your scheduled arrival date will incur a 100% charge
          equal to the first night's room and applicable taxes.
        </p>
      </div>

      <div class="policy">
        <h2>Guarantee Policy</h2>

        <p>
          Must guarantee by a valid credit card with expiry date at time of
          booking and Valid ID
        </p>
        <span>Terms and condition :</span><br />
        <p>
          ACCESS TO ROOM: Check-In time is 16:00. Check-out time is 11:00. Early
          check-outs are permitted at no charge provided notice is given before
          or at check-in. Same day early check-outs will results in a one
          night's penalty charge equal to the 1st night's room & taxes. PARKING:
          Secured underground or above ground parking is available for $12 per
          night, per car. ROOM RATES & FAMILY PLAN: All room rates are based on
          single or double occupancy. Children 15 years of age and younger stay
          for free when sharing room with parents and using existing bedding. A
          surcharge of $25.00 for additional guests 16 years of age or older
          will apply to the room rate. PETS ARE PEOPLE TOO: Fee is 25.00 CAD per
          pet per night and includes a comfy pet bed, locally made organic
          treats and a drinking bowl which you can take home with you after your
          stay. Pets must always be accompanied and be no more than 25kgs in
          weight. The Hotel allows a maximum of 2 pets per room. SMOKING POLICY:
          We are proud to provide a 100% non-smoking environment to all our
          guests. Smoking in any guestroom or in the Hotel's public space will
          result in a $250.00 charge applied to your room account. Smoking is
          permitted at designated areas outside the hotel only. ECOFUND VERIFIED
          BY GREENSTEP SOLUTIONS The Huntingdon Manor Hotel is committed to help
          protect our planet and reduce our impact on the environment. This is
          why we have become an EcoFund Verified business as of March 1st, 2021.
          As part of this program, we invite our guests to join in making a
          positive change. Each night you will stay with us, a $2.00 EcoFee will
          be applied to support large carbon reduction projects and help reduce
          our carbon footprint. ALL RATES ARE QUOTED IN CANADIAN CURRENCY AND
          SUBJECT TO CHANGE WITHOUT PRIOR NOTICE.
        </p>
      </div>

      <div class="button-container">
        <button id="declineButton">Decline</button>
        <button id="agreeButton">Agree</button>
      </div>
    </div>
    <script src="{% static 'js/term_condition.js' %}"></script>
  </body>
</html>
