<footer>
  <div class="main-content">
    <div class="left-box">
      <h2 style="color: white">About us</h2>
      <div class="contact-content">
        <p style="color: white">
          "Welcome to the best five-star deluxe hotel in Nagpur.<br />
          Hotel elementum sesue the aucan vestibulum aliquam justo in sapien
          rutrum volutpat."
        </p>
      </div>
    </div>

    <div class="center-box">
      <h2 style="color: white">Follow us</h2>
      <div class="contact-content">
        <div class="social">
          <a href="#" style="display: block;text-decoration:none;color:white;">
            <i
              class="bx bxl-facebook-circle"
              style="font-size: 30px; margin-right: 5px"
            ></i
          >Facebook</a>
          <a href="#" style="display: block;text-decoration:none;color:white;">
            <i
              class="bx bxl-twitter"
              style="font-size: 30px; margin-right: 5px"
            ></i
          >Twitter</a>
          <a href="#" style="display: block;text-decoration:none;color:white;">
            <i
              class="bx bxl-instagram"
              style="font-size: 30px; margin-right: 5px"
            ></i
          >Instagram</a>
          <a href="#" style="display: block;text-decoration:none;color:white;">
            <i
              class="bx bxl-youtube"
              style="font-size: 30px; margin-right: 5px;"
            ></i
          >Youtube</a>
        </div>
      </div>
    </div>

    <div class="right-box">
      <h2 style="color: white">Contact Us</h2>
      <div class="contact-content">
        <div class="place">
          <i class="bx bxs-map"></i>
          <i class="text" style="color: white">MIDC HINGNA WADI ROAD, Wadi, Nagpur, Maharashtra 440028, India</i>
        </div>

        <div class="phonenumber">
          <i class="bx bxs-phone"></i>
          <i class="text" style="color: white">+91-9876543210</i>
        </div>
        <div class="email">
          <i class="bx bxs-envelope"></i>
          <i class="text" style="color: white">
            <a style="color: white; text-decoration:none"  href="mailto:Hrooms.com@outlook.com">Hrooms.com@outlook.com</a></i>
        </div>
      </div>
    </div>
  </div>
</footer>

